<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<meta charset="UTF-8">
<head>
    <title>Объем конуса</title>
</head>
<div>
    <header style="width: 100%; height: 250px; background: White url(https://i.gifer.com/33Go.gif) no-repeat 0% 50%; position: fixed;">
        <div style="font-size: 70px; padding-top: 5%; left: 30%; font-style: oblique; position: fixed;">Объем конуса</div>
    </header>
</div>
<body style="background: #FFA500">
    <form action="" method="post">
        <div style="font-size: 30px; padding-top: 20%; margin-left: 10%">Радиус конуса(в см):</div>
        <input name="R" type="text" style="margin-left: 10%; padding-top: 1%"/>
        <div style="font-size: 30px; padding-top: 1%; margin-left: 10%">Высота конуса(в см):</div>
        <input name="h" type="text" style="margin-left: 10%; padding-top: 1%"/>
        <div style="font-size: 30px; padding-top: 1%; margin-left: 10%">Точность:</div>
        <input name="toch" type="text" style="margin-left: 10%; padding-top: 1%"/>
        <p><input type="submit" style="font-size: 30px; margin-left: 10%" value=" Отправить "></p>
    </form>
    <div style="font-size: 30px; padding-top: 1%; margin-left: 10%">Результат:</div>
    <h1 style="font-size: 30px; margin-left: 10%">{{ans}}  см^3</h1>
    <ul style="font-size: 30px; margin-left: 7%">
        <a style="outline: none; text-decoration: none; color: Black; " href="http://127.0.0.1:5000">На главную</a>
    </ul>
    <img src="https://uipduna.hu/jurassicworld/images/downloads/wallpapers/Wallpaper-1-1920x1080.jpg" style="margin-left: 60%; height: 350px; width: 550px; margin-top: -100%">
    <img src="https://drive.google.com/uc?export=view&id=1OstxzxUieKpeKg9lnUQter3Qhac1pUsT" style="margin-left: 59%; height: 350px; width: 550px; margin-top: -30%">
    <p style="font-size: 18px; padding-top: -10%; font-style: oblique; background-color: White; text-color: Black;">Поддержите автора: +7 800 555 35 35 Сбер</p>
</body>
</html>