<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<meta charset="UTF-8">
<head>
    <title>Объемы геометрических фигур</title>
</head>
<div>
    <header style="width: 100%; height: 250px; background: White url(https://i.gifer.com/33Go.gif) no-repeat 0% 50%; position: fixed;">
        <div style="font-size: 70px; padding-top: 5%; left: 30%; font-style: oblique; position: fixed;">Объемы геометрических фигур</div>
    </header>
</div>
    <body style="background: #FFA500">
        <div style="font-size: 50px; padding-top: 20%; margin-left: 10%">Меню:</div>
        <ul style="font-size: 2rem; padding-top: 0%; margin-left: 10%; text-color: Black;">
            <li><a style="outline: none; text-decoration: none; padding: 2px 1px 0; color: Black;" href="shar.html">Шар</a></li>
            <li><a style="outline: none; text-decoration: none; padding: 2px 1px 0; color: Black;" href="kub.html">Куб</a></li>
            <li><a style="outline: none; text-decoration: none; padding: 2px 1px 0; color: Black;" href="konus.html">Конус</a></li>
            <li><a style="outline: none; text-decoration: none; padding: 2px 1px 0; color: Black;" href="tcilindr.html">Цилиндр</a></li>
            <li><a style="outline: none; text-decoration: none; padding: 2px 1px 0; color: Black;" href="piramida.html">Пирамида</a></li>
            <li><a style="outline: none; text-decoration: none; padding: 2px 1px 0; color: Black;" href="parallelepiped.html">Параллелепипед</a></li>
        </ul>
        <img src="https://uipduna.hu/jurassicworld/images/downloads/wallpapers/Wallpaper-1-1920x1080.jpg" style="margin-left: 60%; height: 350px; width: 550px; margin-top: -22%">
        <img src="https://kartinkof.club/uploads/posts/2022-03/1648262478_1-kartinkof-club-p-matematik-mem-1.jpg" style="margin-left: 59%; height: 350px; width: 550px; margin-top: -30%">
        <p style="font-size: 18px; padding-top: -10%; font-style: oblique; background-color: White; text-color: Black;">Поддержите автора: +7 800 555 35 35 Сбер</p>
    </body>
</html>